Download the training and testing datasets to our local directory.

In [9]:
import requests
from contextlib import closing
import csv

urls = {
        'X_train' : "https://s3.amazonaws.com/drivendata/data/7/public/4910797b-ee55-40a7-8668-10efd5c1b960.csv",
        'y_train' : "https://s3.amazonaws.com/drivendata/data/7/public/0bf8bc6e-30d0-4c50-956a-603fc693d966.csv",
        'X_test' : "https://s3.amazonaws.com/drivendata/data/7/public/702ddfc5-68cd-4d1d-a0de-f5f566f76d91.csv"
        }

for i in urls:
    r = requests.get(urls[i])

    text = r.iter_lines()

    reader = csv.reader(text, delimiter=',')

    mylist = list(reader)

    with open(str(i)+'.csv', 'wb') as fp:
        a = csv.writer(fp, delimiter=',')
        data = mylist
        a.writerows(data)

Load our train and test datasets into pandas.

In [1]:
import pandas as pd
import numpy as np

X_train = pd.read_csv('X_train.csv')
y_train = pd.read_csv('y_train.csv')
X_test = pd.read_csv('X_test.csv')

Let's inspect our target variable:

In [68]:
y_train['status_group'].value_counts(normalize = True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

In [51]:
for i in X_train.columns:
    print i,',' ,'{:.1%}'.format(np.mean(X_train[i].isnull())),'nulls',',',type(X_train[i][0]), X_train[i].nunique()

id , 0.0% nulls , <type 'numpy.int64'> 59400
amount_tsh , 0.0% nulls , <type 'numpy.float64'> 98
date_recorded , 0.0% nulls , <type 'str'> 356
funder , 6.1% nulls , <type 'str'> 1897
gps_height , 0.0% nulls , <type 'numpy.int64'> 2428
installer , 6.2% nulls , <type 'str'> 2145
longitude , 0.0% nulls , <type 'numpy.float64'> 57516
latitude , 0.0% nulls , <type 'numpy.float64'> 57517
wpt_name , 0.0% nulls , <type 'str'> 37400
num_private , 0.0% nulls , <type 'numpy.int64'> 65
basin , 0.0% nulls , <type 'str'> 9
subvillage , 0.6% nulls , <type 'str'> 19287
region , 0.0% nulls , <type 'str'> 21
region_code , 0.0% nulls , <type 'numpy.int64'> 27
district_code , 0.0% nulls , <type 'numpy.int64'> 20
lga , 0.0% nulls , <type 'str'> 125
ward , 0.0% nulls , <type 'str'> 2092
population , 0.0% nulls , <type 'numpy.int64'> 1049
public_meeting , 5.6% nulls , <type 'bool'> 2
recorded_by , 0.0% nulls , <type 'str'> 1
scheme_management , 6.5% nulls , <type 'str'> 12
scheme_name , 47.4% nulls , <type 'str'> 2696
permit , 5.1% nulls , <type 'bool'> 2
construction_year , 0.0% nulls , <type 'numpy.int64'> 55
extraction_type , 0.0% nulls , <type 'str'> 18
extraction_type_group , 0.0% nulls , <type 'str'> 13
extraction_type_class , 0.0% nulls , <type 'str'> 7
management , 0.0% nulls , <type 'str'> 12
management_group , 0.0% nulls , <type 'str'> 5
payment , 0.0% nulls , <type 'str'> 7
payment_type , 0.0% nulls , <type 'str'> 7
water_quality , 0.0% nulls , <type 'str'> 8
quality_group , 0.0% nulls , <type 'str'> 6
quantity , 0.0% nulls , <type 'str'> 5
quantity_group , 0.0% nulls , <type 'str'> 5
source , 0.0% nulls , <type 'str'> 10
source_type , 0.0% nulls , <type 'str'> 7
source_class , 0.0% nulls , <type 'str'> 3
waterpoint_type , 0.0% nulls , <type 'str'> 7
waterpoint_type_group , 0.0% nulls , <type 'str'> 6

In [15]:
X_train.describe()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
count,59400.000000,59400.000000,59400.000000,59400.000000,5.940000e+04,59400.000000,59400.000000,59400.000000,59400.000000,59400.000000
mean,37115.131768,317.650385,668.297239,34.077427,-5.706033e+00,0.474141,15.297003,5.629747,179.909983,1300.652475
std,21453.128371,2997.574558,693.116350,6.567432,2.946019e+00,12.236230,17.587406,9.633649,471.482176,951.620547
min,0.000000,0.000000,-90.000000,0.000000,-1.164944e+01,0.000000,1.000000,0.000000,0.000000,0.000000
25%,18519.750000,0.000000,0.000000,33.090347,-8.540621e+00,0.000000,5.000000,2.000000,0.000000,0.000000
50%,37061.500000,0.000000,369.000000,34.908743,-5.021597e+00,0.000000,12.000000,3.000000,25.000000,1986.000000
75%,55656.500000,20.000000,1319.250000,37.178387,-3.326156e+00,0.000000,17.000000,5.000000,215.000000,2004.000000
max,74247.000000,350000.000000,2770.000000,40.345193,-2.000000e-08,1776.000000,99.000000,80.000000,30500.000000,2013.000000

In [31]:
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

## Variable Clean-up, Round 1

Where we remove the obvious variables based on variable name, and null counts.

In [ ]:
def obvious_deletes(x):
    del x['id']
    del x['scheme_name']

In [87]:
X_train['gps_height'].value_counts(normalize = True)

 0       0.344074
-15      0.001010
-16      0.000926
-13      0.000926
-20      0.000875
 1290    0.000875
-14      0.000859
 303     0.000859
-18      0.000825
-19      0.000791
 1269    0.000774
 1295    0.000774
 1304    0.000758
-23      0.000758
 280     0.000741
 1538    0.000741
 1286    0.000741
-8       0.000741
-17      0.000741
 1332    0.000724
 320     0.000724
 1317    0.000707
 1293    0.000707
 1319    0.000707
 1359    0.000707
 1264    0.000707
 1288    0.000707
 1401    0.000707
 1303    0.000707
-27      0.000707
           ...
 2506    0.000017
 2023    0.000017
-53      0.000017
 2364    0.000017
 2332    0.000017
 2402    0.000017
 2236    0.000017
 2420    0.000017
 2291    0.000017
 2407    0.000017
 2080    0.000017
 2250    0.000017
 591     0.000017
 2378    0.000017
 2535    0.000017
 2614    0.000017
 2484    0.000017
 2450    0.000017
 2072    0.000017
 2286    0.000017
 2567    0.000017
 2322    0.000017
 2254    0.000017
 2264    0.000017
 2464    0.000017
 2285    0.000017
 2424    0.000017
 2552    0.000017
 2413    0.000017
 2385    0.000017
Name: gps_height, dtype: float64