In [1]:
import pandas as pd
from tqdm import tqdm_notebook

import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [2]:
data = pd.read_csv(os.path.join('data/training_set_observations.csv'), index_col=0)

In [3]:
data.head()

,site_name,site_id,ccamlr_region,longitude_epsg_4326,latitude_epsg_4326,common_name,day,month,year,season_starting,penguin_count,accuracy,count_type,vantage,e_n
0,Acuna Island,ACUN,48.2,-44.637,-60.7612,chinstrap penguin,28.0,12.0,1983,1983,4000.0,4.0,nests,ground,0.50
1,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1993,1993,2008.0,1.0,nests,ground,0.05
2,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1994,1994,1920.0,1.0,nests,NaN,0.05
3,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,2004,2004,1880.0,1.0,nests,ground,0.05
4,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,25.0,2.0,2011,2010,3079.0,5.0,nests,vhr,0.90

Create dataset that shows count by year at the appropriate level.

In [183]:
data2 = data.pivot_table(index = ['site_id', 'common_name'], columns='season_starting', values='penguin_count')

Create dataset that shows error by year at the appropriate level.

In [184]:
errs = data.pivot_table(index = ['site_id', 'common_name'], columns='season_starting', values='e_n')

Create our mean absolute percentage error calculation.

In [185]:
def amape(y, yhat, e):
    percent_error = np.abs(y-yhat)/np.maximum(1, y)
    return np.mean(percent_error/e)

In [186]:
data2 = data2[np.linspace(1980, 2013, 34).astype(int)]

In [187]:
errs = errs[np.linspace(1980, 2013, 34).astype(int)]

In [189]:
for z in data2.index:
    nulls_ix = data2.loc[z][data2.loc[z].isnull()==False].index
    print z
    for i in data2.loc[z].index:
        if i == 1980 and pd.isnull(data2.loc[z][i]):
            data2.loc[z].loc[:min(nulls_ix)] = data2.loc[z].loc[:min(nulls_ix)].fillna(method='backfill')
        if i > min(nulls_ix) and i < max(nulls_ix) and pd.isnull(data2.loc[z][i]):
            data2.loc[z].loc[nulls_ix[nulls_ix < i].max() + 1:nulls_ix[nulls_ix > i].min() - 1] = np.linspace(data2.loc[z][nulls_ix[nulls_ix<i].max()], data2.loc[z][nulls_ix[nulls_ix>i].min()],
                nulls_ix[nulls_ix>i].min()-nulls_ix[nulls_ix<i].max()+1)[1:-1]

('ACUN', 'adelie penguin')
('ACUN', 'chinstrap penguin')
('ADAM', 'adelie penguin')
('ADAR', 'adelie penguin')
('AILS', 'chinstrap penguin')
('AITC', 'chinstrap penguin')
('AITC', 'gentoo penguin')
('AITK', 'chinstrap penguin')
('AKAR', 'adelie penguin')
('ALAS', 'adelie penguin')
('ALCO', 'chinstrap penguin')
('ALMI', 'gentoo penguin')
('AMBU', 'adelie penguin')
('AMPH', 'adelie penguin')
('AMPH', 'chinstrap penguin')
('ANCH', 'adelie penguin')
('ANDE', 'chinstrap penguin')
('ANDI', 'adelie penguin')
('ANDR', 'adelie penguin')
('ANDS', 'adelie penguin')
('ANNE', 'adelie penguin')
('ANVS', 'chinstrap penguin')
('ARDL', 'adelie penguin')
('ARDL', 'chinstrap penguin')
('ARDL', 'gentoo penguin')
('ARMS', 'adelie penguin')
('ARMS', 'chinstrap penguin')
('ARTH', 'adelie penguin')
('ASPL', 'chinstrap penguin')

ValueError: min() arg is an empty sequence

In [190]:
data2.loc['ASPL', 'chinstrap penguin']

season_starting
1980   NaN
1981   NaN
1982   NaN
1983   NaN
1984   NaN
1985   NaN
1986   NaN
1987   NaN
1988   NaN
1989   NaN
1990   NaN
1991   NaN
1992   NaN
1993   NaN
1994   NaN
1995   NaN
1996   NaN
1997   NaN
1998   NaN
1999   NaN
2000   NaN
2001   NaN
2002   NaN
2003   NaN
2004   NaN
2005   NaN
2006   NaN
2007   NaN
2008   NaN
2009   NaN
2010   NaN
2011   NaN
2012   NaN
2013   NaN
Name: (ASPL, chinstrap penguin), dtype: float64