In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [7]:
data = pd.read_csv(os.path.join('data/training_set_observations.csv'), index_col=0)

In [10]:
data.head()

,site_name,site_id,ccamlr_region,longitude_epsg_4326,latitude_epsg_4326,common_name,day,month,year,season_starting,penguin_count,accuracy,count_type,vantage,e_n
0,Acuna Island,ACUN,48.2,-44.637,-60.7612,chinstrap penguin,28.0,12.0,1983,1983,4000.0,4.0,nests,ground,0.50
1,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1993,1993,2008.0,1.0,nests,ground,0.05
2,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1994,1994,1920.0,1.0,nests,NaN,0.05
3,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,2004,2004,1880.0,1.0,nests,ground,0.05
4,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,25.0,2.0,2011,2010,3079.0,5.0,nests,vhr,0.90

In [13]:
test = data.head()

In [15]:
from tqdm import tqdm_notebook

In [24]:
import tqdm

In [34]:
for i, row in tqdm_notebook(test.iterrows(), total = test.shape[0]):
    print i
    print row

0
site_name                   Acuna Island
site_id                             ACUN
ccamlr_region                       48.2
longitude_epsg_4326              -44.637
latitude_epsg_4326              -60.7612
common_name            chinstrap penguin
day                                   28
month                                 12
year                                1983
season_starting                     1983
penguin_count                       4000
accuracy                               4
count_type                         nests
vantage                           ground
e_n                                  0.5
Name: 0, dtype: object
1
site_name                Acuna Island
site_id                          ACUN
ccamlr_region                    48.2
longitude_epsg_4326           -44.637
latitude_epsg_4326           -60.7612
common_name            adelie penguin
day                               NaN
month                             NaN
year                             1993
season_starting                  1993
penguin_count                    2008
accuracy                            1
count_type                      nests
vantage                        ground
e_n                              0.05
Name: 1, dtype: object
2
site_name                Acuna Island
site_id                          ACUN
ccamlr_region                    48.2
longitude_epsg_4326           -44.637
latitude_epsg_4326           -60.7612
common_name            adelie penguin
day                               NaN
month                             NaN
year                             1994
season_starting                  1994
penguin_count                    1920
accuracy                            1
count_type                      nests
vantage                           NaN
e_n                              0.05
Name: 2, dtype: object
3
site_name                Acuna Island
site_id                          ACUN
ccamlr_region                    48.2
longitude_epsg_4326           -44.637
latitude_epsg_4326           -60.7612
common_name            adelie penguin
day                               NaN
month                             NaN
year                             2004
season_starting                  2004
penguin_count                    1880
accuracy                            1
count_type                      nests
vantage                        ground
e_n                              0.05
Name: 3, dtype: object
4
site_name                Acuna Island
site_id                          ACUN
ccamlr_region                    48.2
longitude_epsg_4326           -44.637
latitude_epsg_4326           -60.7612
common_name            adelie penguin
day                                25
month                               2
year                             2011
season_starting                  2010
penguin_count                    3079
accuracy                            5
count_type                      nests
vantage                           vhr
e_n                               0.9
Name: 4, dtype: object

In [12]:
data.groupby('year').penguin_count.count()

year
1895      1
1903      1
1908      0
1922      0
1947      1
1956      1
1958      1
1960      8
1965      4
1966      4
1967      1
1970      8
1971     41
1973      1
1975      2
1976      7
1977      8
1978     21
1979     30
1980     71
1981     52
1982     32
1983    120
1984    105
1985     51
1986     70
1987    163
1988     56
1989     50
1990     57
1991     37
1992     47
1993     50
1994     58
1995     59
1996     73
1997     57
1998     71
1999     51
2000     58
2001     66
2002     54
2003     60
2004     69
2005     74
2006     90
2007     66
2008    113
2009    134
2010    142
2011    224
2012     92
2013    177
2014     46
Name: penguin_count, dtype: int64