In [2]:
import pandas as pd
from tqdm import tqdm_notebook

import numpy as np
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [3]:
data = pd.read_csv(os.path.join('data/training_set_observations.csv'), index_col=0)

In [4]:
data.head()

,site_name,site_id,ccamlr_region,longitude_epsg_4326,latitude_epsg_4326,common_name,day,month,year,season_starting,penguin_count,accuracy,count_type,vantage,e_n
0,Acuna Island,ACUN,48.2,-44.637,-60.7612,chinstrap penguin,28.0,12.0,1983,1983,4000.0,4.0,nests,ground,0.50
1,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1993,1993,2008.0,1.0,nests,ground,0.05
2,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,1994,1994,1920.0,1.0,nests,NaN,0.05
3,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,NaN,NaN,2004,2004,1880.0,1.0,nests,ground,0.05
4,Acuna Island,ACUN,48.2,-44.637,-60.7612,adelie penguin,25.0,2.0,2011,2010,3079.0,5.0,nests,vhr,0.90

In [20]:
data2 = data.pivot_table(index = ['site_name', 'site_id'], columns='year', values='penguin_count')

In [21]:
errs = data.pivot_table(index = ['site_name', 'site_id'], columns='year', values='e_n')

In [32]:
z = np.array([3, 4, np.NaN])

In [35]:
not_nan_mask = ~np.isnan(z)

In [36]:
not_nan_mask

array([ True,  True, False], dtype=bool)

In [59]:
def amape(y, yhat, e):
    percent_error = np.abs(y-yhat)/np.maximum(1, y)
    return np.mean(percent_error/e)

In [63]:
data3 = data2.fillna(1)

In [66]:
errs1 = errs.fillna(.05)

In [68]:
amape(data3.values, data3.values, errs1.values)

0.0