In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import feature_process_helper
from sklearn.externals import joblib
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedKFold
%matplotlib inline

## RF 18

#### Load data & transform variables

In [11]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket', 'SibSp', 'Parch'])

#### Tune hyper-parameters

In [5]:
rf14 = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf14,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [6]:
print(gs.best_score_)
print(gs.best_params_)
#print(gs.cv_results_)

0.83950617284
{'min_samples_split': 4, 'n_estimators': 400, 'criterion': 'gini', 'min_samples_leaf': 1}

#### Fit model

In [7]:
rf14 = RandomForestClassifier(criterion='gini', 
                             n_estimators=400,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf14.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf14.oob_score_

0.8350

#### Obtain cross-validation score with optimal hyperparameters

In [4]:
scores1 = cross_val_score(rf14, train.iloc[:, 2:], train.iloc[:, 1], n_jobs=-1)
scores1.mean()

0.83838383838383834

#### Inspect feature ranking

In [8]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf14.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
2             Name_Len    0.113751
1                 Fare    0.107715
33      Name_Title_Mr.    0.105001
0                  Age    0.102882
11            Sex_male    0.086788
12          Sex_female    0.078397
7           Ticket_Len    0.037970
8             Pclass_3    0.036294
35    Name_Title_Miss.    0.029315
41        Fam_Size_Big    0.024041
34     Name_Title_Mrs.    0.023793
39    Fam_Size_Nuclear    0.022888
25      Cabin_Letter_n    0.022072
9             Pclass_1    0.019078
19       Ticket_Lett_1    0.017318
13          Embarked_S    0.012287
36  Name_Title_Master.    0.012255
10            Pclass_2    0.011798
20       Ticket_Lett_3    0.011765
40       Fam_Size_Solo    0.011685

#### Generate submission file

In [9]:
predictions = rf14.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test18.csv'), sep=",", index = False)

Leaderboard score: 0.77990

## RF 19

In [27]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [18]:
np.shape(train)

(891, 37)

In [19]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [20]:
print(gs.best_score_)
print(gs.best_params_)

0.83164983165
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [28]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8215

In [ ]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

In [29]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_testss.csv'), sep=",", index = False)

score: 0.79904

## RF 20

In [24]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.lda(train, test, train.iloc[:, 1])
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [25]:
np.shape(train)

(891, 36)

In [26]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [27]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [28]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8283

In [29]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
10               Sex_male    0.140371
11             Sex_female    0.138155
5                       0    0.134577
23         Name_Title_Mr.    0.106221
0                Name_Len    0.081590
7                Pclass_3    0.053532
6              Ticket_Len    0.040853
15         Cabin_Letter_n    0.040356
33           Fam_Size_Big    0.030240
31       Fam_Size_Nuclear    0.028742
25       Name_Title_Miss.    0.024390
9                Pclass_2    0.023492
8                Pclass_1    0.021975
24        Name_Title_Mrs.    0.020892
26     Name_Title_Master.    0.018319
14             Embarked_Q    0.011452
12             Embarked_S    0.011062
32          Fam_Size_Solo    0.010503
2   Cabin_num_[2, 28.667]    0.009130
1           Age_Null_Flag    0.007804

In [30]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test20.csv'), sep=",", index = False)

In [33]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=500,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8316

In [34]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test22.csv'), sep=",", index = False)

## RF 23

In [36]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [37]:
np.shape(train)

(891, 34)

In [38]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [39]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 5}

In [40]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8272

In [41]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
9           Sex_female    0.177362
21      Name_Title_Mr.    0.140720
1                 Fare    0.106389
8             Sex_male    0.090796
0                  Age    0.075417
2             Name_Len    0.067480
5             Pclass_3    0.061468
31        Fam_Size_Big    0.034148
6             Pclass_1    0.033386
13      Cabin_Letter_n    0.031946
4           Ticket_Len    0.029000
29    Fam_Size_Nuclear    0.017778
23    Name_Title_Miss.    0.017598
22     Name_Title_Mrs.    0.016932
7             Pclass_2    0.015098
30       Fam_Size_Solo    0.013087
24  Name_Title_Master.    0.013010
10          Embarked_S    0.011988
11          Embarked_C    0.011179
3        Age_Null_Flag    0.008592

In [42]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test23.csv'), sep=",", index = False)

score: 0.80383

## RF 24

In [44]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
for i in [train, test]:
    i['Fam_Size'] = i['SibSp']+i['Parch']
    i['Ticket_Len'] = i['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket', 'SibSp', 'Parch'])

In [45]:
np.shape(train)

(891, 32)

In [46]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [47]:
print(gs.best_score_)
print(gs.best_params_)

0.829405162738
{'min_samples_split': 10, 'n_estimators': 100, 'criterion': 'gini', 'min_samples_leaf': 1}

In [48]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=100,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8227

In [49]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
9             Sex_male    0.116926
10          Sex_female    0.115533
1                 Fare    0.113527
22      Name_Title_Mr.    0.101934
0                  Age    0.095598
2             Name_Len    0.092359
6             Pclass_3    0.058144
4             Fam_Size    0.052039
5           Ticket_Len    0.044522
14      Cabin_Letter_n    0.035665
23     Name_Title_Mrs.    0.028023
24    Name_Title_Miss.    0.027166
7             Pclass_1    0.016315
8             Pclass_2    0.016205
11          Embarked_S    0.014145
25  Name_Title_Master.    0.013297
3        Age_Null_Flag    0.009180
12          Embarked_C    0.008648
16      Cabin_Letter_E    0.008200
13          Embarked_Q    0.008099

In [50]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test24.csv'), sep=",", index = False)

score: 0.77

## RF 24

In [53]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [54]:
np.shape(train)

(891, 43)

In [55]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [56]:
print(gs.best_score_)
print(gs.best_params_)

0.83950617284
{'min_samples_split': 4, 'n_estimators': 700, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [57]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=700,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8384

In [58]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

            variable  importance
1               Fare    0.127460
0                Age    0.125200
2           Name_Len    0.122841
30    Name_Title_Mr.    0.082411
8           Sex_male    0.074802
9         Sex_female    0.072543
4         Ticket_Len    0.043962
5           Pclass_3    0.036189
22    Cabin_Letter_n    0.024189
38  Fam_Size_Nuclear    0.022195
32  Name_Title_Miss.    0.022132
40      Fam_Size_Big    0.019858
16     Ticket_Lett_1    0.017940
31   Name_Title_Mrs.    0.017436
6           Pclass_1    0.017092
17     Ticket_Lett_3    0.015051
3      Age_Null_Flag    0.014454
39     Fam_Size_Solo    0.013423
7           Pclass_2    0.012721
10        Embarked_S    0.012676

In [59]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test24.csv'), sep=",", index = False)

score: 0.77033

## RF 25

In [ ]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [60]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=500,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8272

In [61]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test25.csv'), sep=",", index = False)

score: 0.81340

## RF 26

In [62]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=500,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8350

In [63]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test26.csv'), sep=",", index = False)

score: 0.77990

## RF 27

In [4]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [5]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [6]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 10, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [9]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=500,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8283

In [10]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test28.csv'), sep=",", index = False)

score: .77

## RF 29

In [20]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [25]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [26]:
print(gs.best_score_)
print(gs.best_params_)

0.83950617284
{'min_samples_split': 4, 'n_estimators': 700, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [23]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=700,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8328

In [24]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test34.csv'), sep=",", index = False)

score: 0.81340

## RF 25

In [ ]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [60]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=500,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8272

In [61]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test25.csv'), sep=",", index = False)

score: 0.81340

## RF 36

In [32]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train['Age'] = train['Age'].fillna(train['Age'].mean())
test['Age'] = test['Age'].fillna(train['Age'].mean())
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [18]:
np.shape(train)

(891, 37)

In [33]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [34]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 16, 'n_estimators': 1000, 'criterion': 'gini', 'min_samples_leaf': 1}

In [36]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=1000,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8339

In [37]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
23         Name_Title_Mr.    0.112752
1                    Fare    0.111009
10               Sex_male    0.100946
11             Sex_female    0.100348
2                Name_Len    0.094834
0                     Age    0.084043
6              Ticket_Len    0.050457
7                Pclass_3    0.049251
15         Cabin_Letter_n    0.032286
25       Name_Title_Miss.    0.030424
33           Fam_Size_Big    0.028572
24        Name_Title_Mrs.    0.027814
8                Pclass_1    0.025451
31       Fam_Size_Nuclear    0.022056
9                Pclass_2    0.018126
26     Name_Title_Master.    0.015498
12             Embarked_S    0.013738
32          Fam_Size_Solo    0.011941
13             Embarked_C    0.010457
3   Cabin_num_[2, 28.667]    0.009951

In [38]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test36.csv'), sep=",", index = False)

score: 0.79904

## RF 37

In [39]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [40]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [41]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [42]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8272

In [43]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test37.csv'), sep=",", index = False)

score: .77

## RF 38

In [126]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
del train['Age']
del test['Age']
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [51]:
np.shape(train)

(891, 49)

In [47]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [48]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 12, 'n_estimators': 1000, 'criterion': 'gini', 'min_samples_leaf': 1}

In [127]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=1000,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8339

In [52]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
36         Name_Title_Mr.    0.124768
10             Sex_female    0.123612
9                Sex_male    0.114358
1                Name_Len    0.097597
0                    Fare    0.096677
6                Pclass_3    0.045402
38       Name_Title_Miss.    0.033037
5              Ticket_Len    0.032207
28         Cabin_Letter_n    0.030400
37        Name_Title_Mrs.    0.029873
46           Fam_Size_Big    0.027114
44       Fam_Size_Nuclear    0.024383
7                Pclass_1    0.022697
17          Ticket_Lett_1    0.020583
39     Name_Title_Master.    0.018506
18          Ticket_Lett_3    0.013867
8                Pclass_2    0.013341
45          Fam_Size_Solo    0.012454
11             Embarked_S    0.012344
2   Cabin_num_[2, 28.667]    0.011537

In [128]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test60.csv'), sep=",", index = False)

score: 0.80861

## RF 39

In [54]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
del train['Age']
del test['Age']
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
#test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [51]:
np.shape(train)

(891, 49)

In [55]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [56]:
print(gs.best_score_)
print(gs.best_params_)

0.846240179574
{'min_samples_split': 12, 'n_estimators': 100, 'criterion': 'gini', 'min_samples_leaf': 1}

In [57]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=100,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8373

In [58]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                  variable  importance
31          Name_Title_Mr.    0.127750
9                 Sex_male    0.117048
10              Sex_female    0.109127
1                 Name_Len    0.103448
0                     Fare    0.099746
6                 Pclass_3    0.042916
32         Name_Title_Mrs.    0.031820
5               Ticket_Len    0.031763
23          Cabin_Letter_n    0.031427
33        Name_Title_Miss.    0.031422
37        Fam_Size_Nuclear    0.026333
39            Fam_Size_Big    0.025960
34      Name_Title_Master.    0.023797
17           Ticket_Lett_1    0.021403
7                 Pclass_1    0.018266
8                 Pclass_2    0.014983
18           Ticket_Lett_3    0.014594
21  Ticket_Lett_Low_ticket    0.013954
11              Embarked_S    0.012938
2    Cabin_num_[2, 28.667]    0.010897

In [59]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test39.csv'), sep=",", index = False)

score: 0.80383

## RF 40

In [123]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
del train['Age']
del test['Age']
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [76]:
np.shape(train)

(891, 46)

In [77]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [78]:
print(gs.best_score_)
print(gs.best_params_)

0.845117845118
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [124]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8361

In [80]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
7           Sex_female    0.139713
33      Name_Title_Mr.    0.114777
1             Name_Len    0.098930
6             Sex_male    0.092425
0                 Fare    0.090744
3             Pclass_3    0.045756
2           Ticket_Len    0.038454
34     Name_Title_Mrs.    0.038107
35    Name_Title_Miss.    0.032036
25      Cabin_Letter_n    0.031778
41    Fam_Size_Nuclear    0.031319
4             Pclass_1    0.027057
43        Fam_Size_Big    0.026187
14       Ticket_Lett_1    0.025394
36  Name_Title_Master.    0.023664
42       Fam_Size_Solo    0.016846
15       Ticket_Lett_3    0.014697
8           Embarked_S    0.012644
9           Embarked_C    0.010724
5             Pclass_2    0.010452

In [125]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test40.csv'), sep=",", index = False)

score: 0.80383

## RF 41

In [2]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
del train['Age']
del test['Age']
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [3]:
np.shape(train)

(891, 49)

In [4]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [5]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 12, 'n_estimators': 1000, 'criterion': 'gini', 'min_samples_leaf': 1}

In [7]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=1000,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8339

In [8]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
36         Name_Title_Mr.    0.124768
10             Sex_female    0.123612
9                Sex_male    0.114358
1                Name_Len    0.097597
0                    Fare    0.096677
6                Pclass_3    0.045402
38       Name_Title_Miss.    0.033037
5              Ticket_Len    0.032207
28         Cabin_Letter_n    0.030400
37        Name_Title_Mrs.    0.029873
46           Fam_Size_Big    0.027114
44       Fam_Size_Nuclear    0.024383
7                Pclass_1    0.022697
17          Ticket_Lett_1    0.020583
39     Name_Title_Master.    0.018506
18          Ticket_Lett_3    0.013867
8                Pclass_2    0.013341
45          Fam_Size_Solo    0.012454
11             Embarked_S    0.012344
2   Cabin_num_[2, 28.667]    0.011537

In [9]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test41.csv'), sep=",", index = False)

score: 0.79904

## RF 42

In [22]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)

In [23]:
from sklearn.preprocessing import StandardScaler
def scale(train, test, cols=['Age', 'Fare']):
    for i in cols:
        sc = StandardScaler()
        train[i] = sc.fit_transform(train[i].reshape(-1, 1))
        test[i] = sc.transform(test[i].reshape(-1, 1))
    return train, test

In [24]:
train, test = scale(train, test)

In [27]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = scale(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)

train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [28]:
np.shape(train)

(891, 51)

In [29]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [30]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [31]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8260

In [32]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
2                Name_Len    0.117427
0                     Age    0.110091
1                    Fare    0.107424
38         Name_Title_Mr.    0.097366
11               Sex_male    0.076799
12             Sex_female    0.071530
8                Pclass_3    0.047850
40       Name_Title_Miss.    0.038935
7              Ticket_Len    0.035870
30         Cabin_Letter_n    0.032825
46       Fam_Size_Nuclear    0.025340
39        Name_Title_Mrs.    0.024439
48           Fam_Size_Big    0.018472
19          Ticket_Lett_1    0.014673
41     Name_Title_Master.    0.012823
9                Pclass_1    0.012324
47          Fam_Size_Solo    0.012212
4   Cabin_num_[2, 28.667]    0.011557
13             Embarked_S    0.011507
3           Age_Null_Flag    0.010531

In [33]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test42.csv'), sep=",", index = False)

score: 0.76

## RF 43

In [34]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [35]:
np.shape(train)

(891, 51)

In [36]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [37]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [38]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [39]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
2             Name_Len    0.129119
1                 Fare    0.122111
0                  Age    0.115754
38      Name_Title_Mr.    0.084287
12          Sex_female    0.066260
11            Sex_male    0.062517
7           Ticket_Len    0.043470
8             Pclass_3    0.042318
40    Name_Title_Miss.    0.034178
30      Cabin_Letter_n    0.025585
46    Fam_Size_Nuclear    0.023108
48        Fam_Size_Big    0.019298
19       Ticket_Lett_1    0.018377
39     Name_Title_Mrs.    0.016288
3        Age_Null_Flag    0.014127
20       Ticket_Lett_3    0.013501
13          Embarked_S    0.013474
9             Pclass_1    0.012939
47       Fam_Size_Solo    0.012939
41  Name_Title_Master.    0.011562

In [40]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test43.csv'), sep=",", index = False)

score: 0.77

## RF 44

In [42]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.titles_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket', 'Age'])

In [43]:
np.shape(train)

(891, 47)

In [44]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [45]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 10, 'n_estimators': 100, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [46]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=100,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8373

In [47]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

                 variable  importance
0                    Fare    0.131729
1                Name_Len    0.125170
36         Name_Title_Mr.    0.110004
10             Sex_female    0.084183
9                Sex_male    0.084101
6                Pclass_3    0.047644
5              Ticket_Len    0.039481
28         Cabin_Letter_n    0.035526
37        Name_Title_Mrs.    0.031796
38       Name_Title_Miss.    0.030978
44           Fam_Size_Big    0.028038
42       Fam_Size_Nuclear    0.020928
17          Ticket_Lett_1    0.019290
7                Pclass_1    0.017984
18          Ticket_Lett_3    0.017405
8                Pclass_2    0.016195
39     Name_Title_Master.    0.015267
11             Embarked_S    0.013071
43          Fam_Size_Solo    0.012746
2   Cabin_num_[2, 28.667]    0.010391

In [48]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test44.csv'), sep=",", index = False)

score: 0.76

## RF 45

In [66]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [69]:
len(train.columns)

46

In [54]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [55]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 10, 'n_estimators': 700, 'criterion': 'gini', 'min_samples_leaf': 1}

In [67]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [75]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
12                  Sex_female    0.111215
11                    Sex_male    0.109769
33              Name_Title_Mr.    0.109746
1                         Fare    0.088209
2                     Name_Len    0.087904
0                          Age    0.078651
8                     Pclass_3    0.043268
35            Name_Title_Miss.    0.031292
7                   Ticket_Len    0.031079
34             Name_Title_Mrs.    0.028852
25              Cabin_Letter_n    0.027893
43                Fam_Size_Big    0.025199
41            Fam_Size_Nuclear    0.022704
9                     Pclass_1    0.021810
19               Ticket_Lett_1    0.017999
20               Ticket_Lett_3    0.012902
10                    Pclass_2    0.012345
36          Name_Title_Master.    0.012098
23      Ticket_Lett_Low_ticket    0.011723
13                  Embarked_S    0.011546
42               Fam_Size_Solo    0.010619
4        Cabin_num_[2, 28.667]    0.009380
14                  Embarked_C    0.008760
3                Age_Null_Flag    0.008420
27              Cabin_Letter_E    0.007851
21               Ticket_Lett_2    0.007336
15                  Embarked_Q    0.005978
18               Ticket_Lett_S    0.005167
5   Cabin_num_(28.667, 65.667]    0.005064
29              Cabin_Letter_D    0.004613
26              Cabin_Letter_C    0.003985
6      Cabin_num_(65.667, 148]    0.003982
17               Ticket_Lett_P    0.003618
22               Ticket_Lett_C    0.003242
16               Ticket_Lett_A    0.003158
31              Cabin_Letter_B    0.003157
37             Name_Title_Rev.    0.002610
30              Cabin_Letter_A    0.001813
38              Name_Title_Dr.    0.001495
32              Cabin_Letter_F    0.001348
28              Cabin_Letter_G    0.001016
24    Ticket_Lett_Other_ticket    0.000569
40             Name_Title_Col.    0.000430
39              Name_Title_Ms.    0.000184

In [57]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test45.csv'), sep=",", index = False)

score:  0.79426

## RF 46

In [60]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [61]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [62]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [63]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [64]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test46.csv'), sep=",", index = False)

score:  0.77

## RF 47

In [118]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [77]:
len(train.columns)

46

In [54]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [55]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 10, 'n_estimators': 700, 'criterion': 'gini', 'min_samples_leaf': 1}

In [78]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [79]:
feats = pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False).iloc[:23, 0]

In [119]:
train = pd.concat((train.iloc[:, :2], train[feats]), axis=1)
test = pd.concat((test.iloc[:, 0], test[feats]), axis=1)

In [112]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [113]:
print(gs.best_score_)
print(gs.best_params_)

0.846240179574
{'min_samples_split': 10, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [115]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8316

In [116]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                  variable  importance
3                     Fare    0.129091
5                      Age    0.114070
4                 Name_Len    0.103566
2           Name_Title_Mr.    0.097082
0               Sex_female    0.096812
1                 Sex_male    0.096616
6                 Pclass_3    0.046606
8               Ticket_Len    0.045846
10          Cabin_Letter_n    0.032464
13                Pclass_1    0.025647
12        Fam_Size_Nuclear    0.023236
11            Fam_Size_Big    0.022301
9          Name_Title_Mrs.    0.018900
14           Ticket_Lett_1    0.018296
15           Ticket_Lett_3    0.017440
7         Name_Title_Miss.    0.017143
16                Pclass_2    0.016802
19              Embarked_S    0.016356
17      Name_Title_Master.    0.014707
18  Ticket_Lett_Low_ticket    0.014700
20           Fam_Size_Solo    0.011211
21   Cabin_num_[2, 28.667]    0.011143
22              Embarked_C    0.009962

In [120]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test47.csv'), sep=",", index = False)

score:

## RF 48

In [126]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [127]:
len(train.columns)

46

In [54]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [55]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 10, 'n_estimators': 700, 'criterion': 'gini', 'min_samples_leaf': 1}

In [128]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [129]:
feats = pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False).iloc[:30, 0]

In [130]:
train = pd.concat((train.iloc[:, :2], train[feats]), axis=1)
test = pd.concat((test.iloc[:, 0], test[feats]), axis=1)

In [131]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [132]:
print(gs.best_score_)
print(gs.best_params_)

0.841750841751
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [133]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8328

In [134]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
2               Name_Title_Mr.    0.137337
5                          Age    0.111890
4                     Name_Len    0.110997
3                         Fare    0.103998
1                     Sex_male    0.092999
0                   Sex_female    0.069961
6                     Pclass_3    0.050742
8                   Ticket_Len    0.040917
12            Fam_Size_Nuclear    0.024748
11                Fam_Size_Big    0.023612
9              Name_Title_Mrs.    0.023248
10              Cabin_Letter_n    0.019929
7             Name_Title_Miss.    0.019674
14               Ticket_Lett_1    0.017713
17          Name_Title_Master.    0.014717
13                    Pclass_1    0.014191
19                  Embarked_S    0.012261
23               Age_Null_Flag    0.011814
16                    Pclass_2    0.011264
21       Cabin_num_[2, 28.667]    0.011248
22                  Embarked_C    0.010774
18      Ticket_Lett_Low_ticket    0.010724
15               Ticket_Lett_3    0.009647
20               Fam_Size_Solo    0.009448
28  Cabin_num_(28.667, 65.667]    0.007307
27               Ticket_Lett_S    0.006324
25               Ticket_Lett_2    0.005996
26                  Embarked_Q    0.005928
24              Cabin_Letter_E    0.005788
29              Cabin_Letter_D    0.004805

In [135]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test48.csv'), sep=",", index = False)

score:

## RF 49

In [136]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
#train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [137]:
len(train.columns)

46

In [54]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [55]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 10, 'n_estimators': 700, 'criterion': 'gini', 'min_samples_leaf': 1}

In [138]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [140]:
feats = pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False).iloc[:10, 0]

In [141]:
train = pd.concat((train.iloc[:, :2], train[feats]), axis=1)
test = pd.concat((test.iloc[:, 0], test[feats]), axis=1)

In [142]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [144]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 10, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [145]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8373

In [148]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

           variable  importance
3              Fare    0.179483
2    Name_Title_Mr.    0.140746
1          Sex_male    0.134940
5               Age    0.132249
4          Name_Len    0.121420
0        Sex_female    0.096419
6          Pclass_3    0.085237
8        Ticket_Len    0.068108
7  Name_Title_Miss.    0.022077
9   Name_Title_Mrs.    0.019321

In [149]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test49.csv'), sep=",", index = False)

score:

## RF 50

In [151]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [152]:
len(train.columns)

37

In [153]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [154]:
print(gs.best_score_)
print(gs.best_params_)

0.83164983165
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [155]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8215

In [156]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
11                    Sex_male    0.121257
24              Name_Title_Mr.    0.115977
1                         Fare    0.098159
0                          Age    0.087345
2                     Name_Len    0.086230
12                  Sex_female    0.077304
8                     Pclass_3    0.048533
7                   Ticket_Len    0.046897
25             Name_Title_Mrs.    0.037040
9                     Pclass_1    0.030009
34                Fam_Size_Big    0.029263
26            Name_Title_Miss.    0.028580
16              Cabin_Letter_n    0.027821
32            Fam_Size_Nuclear    0.025309
10                    Pclass_2    0.017178
33               Fam_Size_Solo    0.015327
27          Name_Title_Master.    0.015309
13                  Embarked_S    0.013432
14                  Embarked_C    0.012175
3                Age_Null_Flag    0.010484
4        Cabin_num_[2, 28.667]    0.008868
15                  Embarked_Q    0.006705
6      Cabin_num_(65.667, 148]    0.005887
5   Cabin_num_(28.667, 65.667]    0.005462
18              Cabin_Letter_E    0.005271
17              Cabin_Letter_C    0.005173
20              Cabin_Letter_D    0.004223
22              Cabin_Letter_B    0.003799
28             Name_Title_Rev.    0.003520
29              Name_Title_Dr.    0.002783
23              Cabin_Letter_F    0.001617
21              Cabin_Letter_A    0.001612
19              Cabin_Letter_G    0.001119
31             Name_Title_Col.    0.000184
30              Name_Title_Ms.    0.000147

In [157]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test50.csv'), sep=",", index = False)

score:  0.80383

## RF 51

In [158]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [159]:
len(train.columns)

36

In [160]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [161]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 12, 'n_estimators': 400, 'criterion': 'gini', 'min_samples_leaf': 1}

In [162]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=400,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [163]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
1                         Fare    0.130523
2                     Name_Len    0.110326
0                          Age    0.107603
23              Name_Title_Mr.    0.098299
10                    Sex_male    0.095867
11                  Sex_female    0.094893
7                     Pclass_3    0.049144
15              Cabin_Letter_n    0.032542
25            Name_Title_Miss.    0.029018
24             Name_Title_Mrs.    0.028046
33                Fam_Size_Big    0.027567
8                     Pclass_1    0.024809
31            Fam_Size_Nuclear    0.024031
9                     Pclass_2    0.019000
26          Name_Title_Master.    0.015389
12                  Embarked_S    0.013720
32               Fam_Size_Solo    0.013145
3                Age_Null_Flag    0.012614
13                  Embarked_C    0.011607
4        Cabin_num_[2, 28.667]    0.009344
14                  Embarked_Q    0.008399
17              Cabin_Letter_E    0.007586
5   Cabin_num_(28.667, 65.667]    0.006312
6      Cabin_num_(65.667, 148]    0.005739
16              Cabin_Letter_C    0.005587
19              Cabin_Letter_D    0.004836
21              Cabin_Letter_B    0.004723
27             Name_Title_Rev.    0.002630
20              Cabin_Letter_A    0.001754
28              Name_Title_Dr.    0.001572
22              Cabin_Letter_F    0.001564
18              Cabin_Letter_G    0.001068
30             Name_Title_Col.    0.000425
29              Name_Title_Ms.    0.000317

In [164]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test51.csv'), sep=",", index = False)

score:

## RF 52

In [2]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [10]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
#train, test = feature_process_helper.cabin(train, test)
train['Cabin'] = train['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
test['Cabin'] = test['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [11]:
len(train.columns)

30

In [12]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [13]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [15]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [16]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
13                  Sex_female    0.207785
1                         Fare    0.110804
12                    Sex_male    0.087572
17              Name_Title_Mr.    0.084191
3                     Name_Len    0.082542
0                          Age    0.080094
9                     Pclass_3    0.050099
8                   Ticket_Len    0.036147
27                Fam_Size_Big    0.033621
2                        Cabin    0.030448
10                    Pclass_1    0.029024
19            Name_Title_Miss.    0.027855
18             Name_Title_Mrs.    0.022179
25            Fam_Size_Nuclear    0.019978
5        Cabin_num_[2, 28.667]    0.017411
11                    Pclass_2    0.013684
14                  Embarked_S    0.012753
26               Fam_Size_Solo    0.012667
15                  Embarked_C    0.008241
4                Age_Null_Flag    0.008177
20          Name_Title_Master.    0.007430
6   Cabin_num_(28.667, 65.667]    0.006967
16                  Embarked_Q    0.005431
7      Cabin_num_(65.667, 148]    0.002306
22              Name_Title_Dr.    0.001252
21             Name_Title_Rev.    0.001020
24             Name_Title_Col.    0.000289
23              Name_Title_Ms.    0.000035

In [17]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test52.csv'), sep=",", index = False)

score:  0.77512

## RF 53 & 54

In [18]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [152]:
len(train.columns)

37

In [153]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [154]:
print(gs.best_score_)
print(gs.best_params_)

0.83164983165
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [22]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=500,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8316

In [156]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
11                    Sex_male    0.121257
24              Name_Title_Mr.    0.115977
1                         Fare    0.098159
0                          Age    0.087345
2                     Name_Len    0.086230
12                  Sex_female    0.077304
8                     Pclass_3    0.048533
7                   Ticket_Len    0.046897
25             Name_Title_Mrs.    0.037040
9                     Pclass_1    0.030009
34                Fam_Size_Big    0.029263
26            Name_Title_Miss.    0.028580
16              Cabin_Letter_n    0.027821
32            Fam_Size_Nuclear    0.025309
10                    Pclass_2    0.017178
33               Fam_Size_Solo    0.015327
27          Name_Title_Master.    0.015309
13                  Embarked_S    0.013432
14                  Embarked_C    0.012175
3                Age_Null_Flag    0.010484
4        Cabin_num_[2, 28.667]    0.008868
15                  Embarked_Q    0.006705
6      Cabin_num_(65.667, 148]    0.005887
5   Cabin_num_(28.667, 65.667]    0.005462
18              Cabin_Letter_E    0.005271
17              Cabin_Letter_C    0.005173
20              Cabin_Letter_D    0.004223
22              Cabin_Letter_B    0.003799
28             Name_Title_Rev.    0.003520
29              Name_Title_Dr.    0.002783
23              Cabin_Letter_F    0.001617
21              Cabin_Letter_A    0.001612
19              Cabin_Letter_G    0.001119
31             Name_Title_Col.    0.000184
30              Name_Title_Ms.    0.000147

In [23]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test54.csv'), sep=",", index = False)

score:  0.80383

## RF 55

In [24]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [25]:
train['Age'], bins = pd.qcut(train['Age'],4, retbins=True)
test['Age'] = pd.cut(test['Age'], bins=bins, include_lowest=True)
train = pd.concat((train, pd.get_dummies(train['Age'], prefix = 'Age')), axis = 1)
test = pd.concat((test, pd.get_dummies(test['Age'], prefix = 'Age')), axis = 1)
del train['Age']
del test['Age']

In [27]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train['Age'], bins = pd.qcut(train['Age'],4, retbins=True)
test['Age'] = pd.cut(test['Age'], bins=bins, include_lowest=True)
train = pd.concat((train, pd.get_dummies(train['Age'], prefix = 'Age')), axis = 1)
test = pd.concat((test, pd.get_dummies(test['Age'], prefix = 'Age')), axis = 1)
del train['Age']
del test['Age']
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [28]:
len(train.columns)

40

In [29]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [30]:
print(gs.best_score_)
print(gs.best_params_)

0.83164983165
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [31]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [32]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
14                    Sex_male    0.122470
15                  Sex_female    0.119988
27              Name_Title_Mr.    0.115475
0                         Fare    0.104996
1                     Name_Len    0.094754
11                    Pclass_3    0.049280
10                  Ticket_Len    0.042706
29            Name_Title_Miss.    0.038645
19              Cabin_Letter_n    0.031996
37                Fam_Size_Big    0.029974
28             Name_Title_Mrs.    0.023360
35            Fam_Size_Nuclear    0.021925
12                    Pclass_1    0.020730
13                    Pclass_2    0.016601
30          Name_Title_Master.    0.016577
16                  Embarked_S    0.014379
6              Age_(36.75, 80]    0.013615
3               Age_[0.42, 21]    0.012472
4             Age_(21, 28.725]    0.011971
36               Fam_Size_Solo    0.011747
17                  Embarked_C    0.011016
5          Age_(28.725, 36.75]    0.010708
2                Age_Null_Flag    0.009458
7        Cabin_num_[2, 28.667]    0.008301
21              Cabin_Letter_E    0.008294
18                  Embarked_Q    0.007312
8   Cabin_num_(28.667, 65.667]    0.005426
23              Cabin_Letter_D    0.005133
25              Cabin_Letter_B    0.004912
9      Cabin_num_(65.667, 148]    0.004555
20              Cabin_Letter_C    0.003716
24              Cabin_Letter_A    0.002825
32              Name_Title_Dr.    0.001671
26              Cabin_Letter_F    0.001374
22              Cabin_Letter_G    0.001108
31             Name_Title_Rev.    0.000292
34             Name_Title_Col.    0.000230
33              Name_Title_Ms.    0.000006

In [33]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test55.csv'), sep=",", index = False)

score:  0.79904

## RF 55

In [34]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [54]:
train['Ticket_Num'] = train['Ticket'].apply(lambda x: x.split()[-1])
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: int(x))

In [55]:
pd.qcut(train['Ticket_Num'], 4).value_counts()

(112058, 347082]     227
(14312.5, 112058]    223
[0, 14312.5]         223
(347082, 3101317]    218
Name: Ticket_Num, dtype: int64

In [80]:
train['Survived'].groupby(pd.qcut(train['Ticket_Num'], 5)).mean()

Ticket_Num
[0, 10482]            0.318436
(10482, 28665]        0.595506
(28665, 2.38e+05]     0.511236
(2.38e+05, 349222]    0.258427
(349222, 3101317]     0.235955
Name: Survived, dtype: float64

In [71]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [65]:
len(train.columns)

38

In [66]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [67]:
print(gs.best_score_)
print(gs.best_params_)

0.840628507295
{'min_samples_split': 4, 'n_estimators': 400, 'criterion': 'gini', 'min_samples_leaf': 1}

In [68]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=400,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8361

In [69]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
8                   Ticket_Num    0.110752
1                         Fare    0.102201
25              Name_Title_Mr.    0.100219
2                     Name_Len    0.099071
0                          Age    0.092186
13                  Sex_female    0.089803
12                    Sex_male    0.087747
9                     Pclass_3    0.037016
7                   Ticket_Len    0.036582
17              Cabin_Letter_n    0.025833
35                Fam_Size_Big    0.025659
27            Name_Title_Miss.    0.022837
26             Name_Title_Mrs.    0.018653
33            Fam_Size_Nuclear    0.018239
10                    Pclass_1    0.016711
14                  Embarked_S    0.012786
11                    Pclass_2    0.011152
34               Fam_Size_Solo    0.010937
28          Name_Title_Master.    0.010654
3                Age_Null_Flag    0.009906
4        Cabin_num_[2, 28.667]    0.009481
15                  Embarked_C    0.009047
19              Cabin_Letter_E    0.007071
16                  Embarked_Q    0.005713
5   Cabin_num_(28.667, 65.667]    0.005194
21              Cabin_Letter_D    0.004275
6      Cabin_num_(65.667, 148]    0.004156
18              Cabin_Letter_C    0.004131
23              Cabin_Letter_B    0.003596
29             Name_Title_Rev.    0.002469
22              Cabin_Letter_A    0.002071
30              Name_Title_Dr.    0.001614
20              Cabin_Letter_G    0.000980
24              Cabin_Letter_F    0.000920
32             Name_Title_Col.    0.000206
31              Name_Title_Ms.    0.000129

In [72]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test56.csv'), sep=",", index = False)

score:  0.78469

In [77]:
corrs = {}

for i in train.columns:
    for z in train.columns:
        if i <> z and i.split('_') <> z.split('_') and i+'&'+z not in corrs and z+'&'+i not in corrs:
            if train[i].corr(train[z]) > .5:
                corrs[i+'&'+z] = train[i].corr(train[z])

## RF 56

In [34]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [54]:
train['Ticket_Num'] = train['Ticket'].apply(lambda x: x.split()[-1])
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: int(x))

In [55]:
pd.qcut(train['Ticket_Num'], 4).value_counts()

(112058, 347082]     227
(14312.5, 112058]    223
[0, 14312.5]         223
(347082, 3101317]    218
Name: Ticket_Num, dtype: int64

In [80]:
train['Survived'].groupby(pd.qcut(train['Ticket_Num'], 5)).mean()

Ticket_Num
[0, 10482]            0.318436
(10482, 28665]        0.595506
(28665, 2.38e+05]     0.511236
(2.38e+05, 349222]    0.258427
(349222, 3101317]     0.235955
Name: Survived, dtype: float64

In [81]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
train['Ticket_Num'], bins = pd.qcut(train['Ticket_Num'],5, retbins=True)
test['Ticket_Num'] = pd.cut(test['Ticket_Num'], bins=bins, include_lowest=True)
train = pd.concat((train, pd.get_dummies(train['Ticket_Num'], prefix = 'Ticket_Num')), axis = 1)
test = pd.concat((test, pd.get_dummies(test['Ticket_Num'], prefix = 'Ticket_Num')), axis = 1)
del train['Ticket_Num']
del test['Ticket_Num']
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [82]:
len(train.columns)

42

In [83]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [84]:
print(gs.best_score_)
print(gs.best_params_)

0.838383838384
{'min_samples_split': 12, 'n_estimators': 700, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [85]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=700,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8316

In [86]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                         variable  importance
1                            Fare    0.104391
29                 Name_Title_Mr.    0.104210
16                       Sex_male    0.095338
17                     Sex_female    0.092336
0                             Age    0.090017
2                        Name_Len    0.085018
7                      Ticket_Len    0.040202
13                       Pclass_3    0.040135
21                 Cabin_Letter_n    0.029172
31               Name_Title_Miss.    0.028489
39                   Fam_Size_Big    0.026664
30                Name_Title_Mrs.    0.025302
14                       Pclass_1    0.024277
37               Fam_Size_Nuclear    0.019853
9       Ticket_Num_(10482, 28665]    0.018311
15                       Pclass_2    0.017303
10   Ticket_Num_(28665, 2.38e+05]    0.016506
32             Name_Title_Master.    0.013649
8           Ticket_Num_[0, 10482]    0.012759
18                     Embarked_S    0.012587
38                  Fam_Size_Solo    0.011450
3                   Age_Null_Flag    0.010718
11  Ticket_Num_(2.38e+05, 349222]    0.010090
19                     Embarked_C    0.009197
4           Cabin_num_[2, 28.667]    0.009173
12   Ticket_Num_(349222, 3101317]    0.007560
23                 Cabin_Letter_E    0.006950
20                     Embarked_Q    0.006421
5      Cabin_num_(28.667, 65.667]    0.005088
22                 Cabin_Letter_C    0.004760
25                 Cabin_Letter_D    0.004755
6         Cabin_num_(65.667, 148]    0.004277
27                 Cabin_Letter_B    0.003969
33                Name_Title_Rev.    0.002816
34                 Name_Title_Dr.    0.001895
26                 Cabin_Letter_A    0.001624
28                 Cabin_Letter_F    0.001204
24                 Cabin_Letter_G    0.001052
36                Name_Title_Col.    0.000329
35                 Name_Title_Ms.    0.000152

In [87]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test57.csv'), sep=",", index = False)

score:  0.77512

In [77]:
corrs = {}

for i in train.columns:
    for z in train.columns:
        if i <> z and i.split('_') <> z.split('_') and i+'&'+z not in corrs and z+'&'+i not in corrs:
            if train[i].corr(train[z]) > .5:
                corrs[i+'&'+z] = train[i].corr(train[z])

## RF 58

In [34]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [54]:
train['Ticket_Num'] = train['Ticket'].apply(lambda x: x.split()[-1])
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: int(x))

In [55]:
pd.qcut(train['Ticket_Num'], 4).value_counts()

(112058, 347082]     227
(14312.5, 112058]    223
[0, 14312.5]         223
(347082, 3101317]    218
Name: Ticket_Num, dtype: int64

In [80]:
train['Survived'].groupby(pd.qcut(train['Ticket_Num'], 5)).mean()

Ticket_Num
[0, 10482]            0.318436
(10482, 28665]        0.595506
(28665, 2.38e+05]     0.511236
(2.38e+05, 349222]    0.258427
(349222, 3101317]     0.235955
Name: Survived, dtype: float64

In [89]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
#train, test = feature_process_helper.cabin(train, test)
train['Cabin'] = train['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
test['Cabin'] = test['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [90]:
len(train.columns)

31

In [91]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [92]:
print(gs.best_score_)
print(gs.best_params_)

0.842873176207
{'min_samples_split': 4, 'n_estimators': 400, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [93]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=400,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8418

In [94]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
9                   Ticket_Num    0.130073
1                         Fare    0.121581
0                          Age    0.106960
3                     Name_Len    0.103874
18              Name_Title_Mr.    0.087724
13                    Sex_male    0.071646
14                  Sex_female    0.069107
8                   Ticket_Len    0.045645
10                    Pclass_3    0.037004
2                        Cabin    0.023797
28                Fam_Size_Big    0.022270
11                    Pclass_1    0.019240
19             Name_Title_Mrs.    0.019176
20            Name_Title_Miss.    0.018799
26            Fam_Size_Nuclear    0.018666
4                Age_Null_Flag    0.013128
12                    Pclass_2    0.013062
15                  Embarked_S    0.012476
27               Fam_Size_Solo    0.012347
21          Name_Title_Master.    0.011016
16                  Embarked_C    0.010619
5        Cabin_num_[2, 28.667]    0.009513
6   Cabin_num_(28.667, 65.667]    0.006621
17                  Embarked_Q    0.006454
7      Cabin_num_(65.667, 148]    0.005229
22             Name_Title_Rev.    0.002303
23              Name_Title_Dr.    0.001320
25             Name_Title_Col.    0.000274
24              Name_Title_Ms.    0.000075

In [95]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test58.csv'), sep=",", index = False)

score:  0.78469

In [120]:
corrs = {}

for i in train.columns:
    for z in train.columns:
        if i <> z and i.split('_') <> z.split('_') and i+'&'+z not in corrs and z+'&'+i not in corrs:
            if train[i].corr(train[z]) > .5:
                corrs[i+'&'+z] = train[i].corr(train[z])

AttributeError: 'long' object has no attribute 'split'

In [99]:
test.columns

Index([u'PassengerId', u'Age', u'Fare', u'Cabin', u'Name_Len',
       u'Age_Null_Flag', u'Cabin_num_[2, 28.667]',
       u'Cabin_num_(28.667, 65.667]', u'Cabin_num_(65.667, 148]',
       u'Ticket_Len', u'Ticket_Num', u'Pclass_3', u'Pclass_1', u'Pclass_2',
       u'Sex_male', u'Sex_female', u'Embarked_S', u'Embarked_C', u'Embarked_Q',
       u'Name_Title_Mr.', u'Name_Title_Mrs.', u'Name_Title_Miss.',
       u'Name_Title_Master.', u'Name_Title_Rev.', u'Name_Title_Dr.',
       u'Name_Title_Ms.', u'Name_Title_Col.', u'Fam_Size_Nuclear',
       u'Fam_Size_Solo', u'Fam_Size_Big'],
      dtype='object')

In [109]:
for i in test.columns[1:]:
    print i, "%.1f, %.1f, %.1f" % (test[i].mean(), train[i].mean(), (test[i].mean()-train[i].mean())/train[i].mean())

Age 29.7, 29.4, 0.0
Fare 35.6, 32.2, 0.1
Cabin 0.8, 0.8, 0.0
Name_Len 27.5, 27.0, 0.0
Age_Null_Flag 0.2, 0.2, 0.0
Cabin_num_[2, 28.667] 0.1, 0.1, -0.2
Cabin_num_(28.667, 65.667] 0.1, 0.1, 0.3
Cabin_num_(65.667, 148] 0.1, 0.1, -0.3
Ticket_Len 6.9, 6.8, 0.0
Ticket_Num 253404.4, 296989.1, -0.1
Pclass_3 0.5, 0.6, -0.1
Pclass_1 0.3, 0.2, 0.1
Pclass_2 0.2, 0.2, 0.1
Sex_male 0.6, 0.6, -0.0
Sex_female 0.4, 0.4, 0.0
Embarked_S 0.6, 0.7, -0.1
Embarked_C 0.2, 0.2, 0.3
Embarked_Q 0.1, 0.1, 0.3
Name_Title_Mr. 0.6, 0.6, -0.0
Name_Title_Mrs. 0.2, 0.1, 0.2
Name_Title_Miss. 0.2, 0.2, -0.1
Name_Title_Master. 0.1, 0.0, 0.1
Name_Title_Rev. 0.0, 0.0, -0.3
Name_Title_Dr. 0.0, 0.0, -0.7
Name_Title_Ms. 0.0, 0.0, 1.1
Name_Title_Col. 0.0, 0.0, 1.1
Fam_Size_Nuclear 0.3, 0.3, 0.1
Fam_Size_Solo 0.6, 0.6, 0.0
Fam_Size_Big 0.0, 0.1, -0.3

## RF 59

In [34]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [54]:
train['Ticket_Num'] = train['Ticket'].apply(lambda x: x.split()[-1])
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
train['Ticket_Num'] = train['Ticket_Num'].apply(lambda x: int(x))

In [55]:
pd.qcut(train['Ticket_Num'], 4).value_counts()

(112058, 347082]     227
(14312.5, 112058]    223
[0, 14312.5]         223
(347082, 3101317]    218
Name: Ticket_Num, dtype: int64

In [80]:
train['Survived'].groupby(pd.qcut(train['Ticket_Num'], 5)).mean()

Ticket_Num
[0, 10482]            0.318436
(10482, 28665]        0.595506
(28665, 2.38e+05]     0.511236
(2.38e+05, 349222]    0.258427
(349222, 3101317]     0.235955
Name: Survived, dtype: float64

In [112]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
#train, test = feature_process_helper.cabin(train, test)
train['Cabin'] = train['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
test['Cabin'] = test['Cabin'].apply(lambda x: 1 if pd.isnull(x) else 0)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.lda(train, test, train.iloc[:, 1], cols=['Ticket_Num', 'Fare'])
#train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
#test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [113]:
len(train.columns)

30

In [115]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [116]:
print(gs.best_score_)
print(gs.best_params_)

0.830527497194
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 5}

In [117]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8159

In [118]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
13                  Sex_female    0.174297
8                            0    0.135271
0                          Age    0.088772
17              Name_Title_Mr.    0.083211
12                    Sex_male    0.082767
2                     Name_Len    0.076034
9                     Pclass_3    0.050384
1                        Cabin    0.045079
7                   Ticket_Len    0.040713
19            Name_Title_Miss.    0.037849
10                    Pclass_1    0.026915
27                Fam_Size_Big    0.024157
25            Fam_Size_Nuclear    0.021441
11                    Pclass_2    0.017061
14                  Embarked_S    0.016066
26               Fam_Size_Solo    0.015473
18             Name_Title_Mrs.    0.013842
20          Name_Title_Master.    0.013321
15                  Embarked_C    0.010196
4        Cabin_num_[2, 28.667]    0.009879
3                Age_Null_Flag    0.007282
6      Cabin_num_(65.667, 148]    0.004218
16                  Embarked_Q    0.003096
5   Cabin_num_(28.667, 65.667]    0.002678
21             Name_Title_Rev.    0.000000
22              Name_Title_Dr.    0.000000
23              Name_Title_Ms.    0.000000
24             Name_Title_Col.    0.000000

In [119]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test59.csv'), sep=",", index = False)

score:  0.77512

In [122]:
for i in test.columns:
    print i, type(test[i][0])

PassengerId <type 'numpy.int64'>
Age <type 'numpy.float64'>
Cabin <type 'numpy.int64'>
Name_Len <type 'numpy.int64'>
Age_Null_Flag <type 'numpy.int64'>
Cabin_num_[2, 28.667] <type 'numpy.float64'>
Cabin_num_(28.667, 65.667] <type 'numpy.float64'>
Cabin_num_(65.667, 148] <type 'numpy.float64'>
Ticket_Len <type 'numpy.int64'>
0 <type 'numpy.float64'>
Pclass_3 <type 'numpy.float64'>
Pclass_1 <type 'numpy.float64'>
Pclass_2 <type 'numpy.float64'>
Sex_male <type 'numpy.float64'>
Sex_female <type 'numpy.float64'>
Embarked_S <type 'numpy.float64'>
Embarked_C <type 'numpy.float64'>
Embarked_Q <type 'numpy.float64'>
Name_Title_Mr. <type 'numpy.float64'>
Name_Title_Mrs. <type 'numpy.float64'>
Name_Title_Miss. <type 'numpy.float64'>
Name_Title_Master. <type 'numpy.float64'>
Name_Title_Rev. <type 'numpy.float64'>
Name_Title_Dr. <type 'numpy.float64'>
Name_Title_Ms. <type 'numpy.float64'>
Name_Title_Col. <type 'numpy.float64'>
Fam_Size_Nuclear <type 'numpy.float64'>
Fam_Size_Solo <type 'numpy.float64'>
Fam_Size_Big <type 'numpy.float64'>

## RF 61

In [129]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
#train, test = feature_process_helper.age_impute(train, test)
del train['Age']
del test['Age']
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
#train, test = feature_process_helper.ticket_grouped(train, test)
#train, test = feature_process_helper.titles_grouped(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [130]:
np.shape(train)

(891, 47)

In [131]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [132]:
print(gs.best_score_)
print(gs.best_params_)

0.846240179574
{'min_samples_split': 4, 'n_estimators': 400, 'criterion': 'gini', 'min_samples_leaf': 1}

In [133]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=400,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8451

In [134]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

              variable  importance
3           Ticket_Num    0.130635
1             Name_Len    0.115233
0                 Fare    0.105707
34      Name_Title_Mr.    0.096536
7             Sex_male    0.092064
8           Sex_female    0.088230
4             Pclass_3    0.034339
2           Ticket_Len    0.033763
36    Name_Title_Miss.    0.029376
26      Cabin_Letter_n    0.027193
42    Fam_Size_Nuclear    0.022754
35     Name_Title_Mrs.    0.022416
44        Fam_Size_Big    0.021459
5             Pclass_1    0.018521
37  Name_Title_Master.    0.017160
15       Ticket_Lett_1    0.014536
43       Fam_Size_Solo    0.013056
9           Embarked_S    0.012009
16       Ticket_Lett_3    0.010606
6             Pclass_2    0.010257

In [135]:
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test61.csv'), sep=",", index = False)

score: 0.78469

## RF 62

In [136]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [137]:
len(train.columns)

34

In [138]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [139]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 5}

In [140]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8272

In [141]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

              variable  importance
9           Sex_female    0.177362
21      Name_Title_Mr.    0.140720
1                 Fare    0.106389
8             Sex_male    0.090796
0                  Age    0.075417
2             Name_Len    0.067480
5             Pclass_3    0.061468
31        Fam_Size_Big    0.034148
6             Pclass_1    0.033386
13      Cabin_Letter_n    0.031946
4           Ticket_Len    0.029000
29    Fam_Size_Nuclear    0.017778
23    Name_Title_Miss.    0.017598
22     Name_Title_Mrs.    0.016932
7             Pclass_2    0.015098
30       Fam_Size_Solo    0.013087
24  Name_Title_Master.    0.013010
10          Embarked_S    0.011988
11          Embarked_C    0.011179
3        Age_Null_Flag    0.008592
12          Embarked_Q    0.006697
14      Cabin_Letter_C    0.005133
19      Cabin_Letter_B    0.005075
15      Cabin_Letter_E    0.004819
17      Cabin_Letter_D    0.003644
18      Cabin_Letter_A    0.000793
20      Cabin_Letter_F    0.000368
25     Name_Title_Rev.    0.000068
26      Name_Title_Dr.    0.000026
27      Name_Title_Ms.    0.000000
28     Name_Title_Col.    0.000000
16      Cabin_Letter_G    0.000000

In [142]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test62.csv'), sep=",", index = False)

score:  0.80383

## RF 63

In [143]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
#train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train['FAg'] = train['Fare']/train['Age']
test['FAg'] = test['Fare']/test['Age']
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [144]:
len(train.columns)

35

In [145]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [146]:
print(gs.best_score_)
print(gs.best_params_)

0.833894500561
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [147]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8260

In [148]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

              variable  importance
9             Sex_male    0.128279
22      Name_Title_Mr.    0.125287
5                  FAg    0.103436
10          Sex_female    0.101520
1                 Fare    0.083556
2             Name_Len    0.073799
0                  Age    0.058228
6             Pclass_3    0.045210
4           Ticket_Len    0.032584
24    Name_Title_Miss.    0.028803
23     Name_Title_Mrs.    0.028070
32        Fam_Size_Big    0.027499
7             Pclass_1    0.027076
14      Cabin_Letter_n    0.024454
30    Fam_Size_Nuclear    0.022735
8             Pclass_2    0.016788
25  Name_Title_Master.    0.012622
11          Embarked_S    0.009160
31       Fam_Size_Solo    0.009010
12          Embarked_C    0.007549
13          Embarked_Q    0.007158
3        Age_Null_Flag    0.006853
16      Cabin_Letter_E    0.005630
15      Cabin_Letter_C    0.003315
18      Cabin_Letter_D    0.003221
20      Cabin_Letter_B    0.001942
19      Cabin_Letter_A    0.001828
26     Name_Title_Rev.    0.001445
27      Name_Title_Dr.    0.001259
21      Cabin_Letter_F    0.000674
17      Cabin_Letter_G    0.000640
29     Name_Title_Col.    0.000243
28      Name_Title_Ms.    0.000124

In [150]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test63.csv'), sep=",", index = False)

score:  0.7751

## RF 64

In [163]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [164]:
vowels = ['a', 'e', 'i', 'o', 'u']
import string
cons = list(string.ascii_lowercase)
for i in vowels:
    cons.remove(i)

In [166]:
for i in [train, test]:
    i['Vowels'] = i['Name'].apply(lambda x: sum([vowels.count(i) for i in x.lower()]))
    i['Consonants'] = i['Name'].apply(lambda x: sum([cons.count(i) for i in x.lower()]))
    i['Vowel_Ratio'] = i['Vowels']/i['Consonants']
    del i['Vowels']
    del i['Consonants']

In [167]:
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [168]:
len(train.columns)

38

In [158]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [159]:
print(gs.best_score_)
print(gs.best_params_)

0.833894500561
{'min_samples_split': 4, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [160]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=4,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8328

In [161]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
13                  Sex_female    0.108212
1                         Fare    0.108173
3                     Name_Len    0.098877
0                          Age    0.097629
25              Name_Title_Mr.    0.085937
2                  Vowel_Ratio    0.084496
12                    Sex_male    0.075866
8                   Ticket_Len    0.044130
9                     Pclass_3    0.038257
17              Cabin_Letter_n    0.032911
27            Name_Title_Miss.    0.028260
35                Fam_Size_Big    0.024426
33            Fam_Size_Nuclear    0.023799
26             Name_Title_Mrs.    0.016230
10                    Pclass_1    0.015328
14                  Embarked_S    0.015129
11                    Pclass_2    0.014011
5        Cabin_num_[2, 28.667]    0.011406
34               Fam_Size_Solo    0.011383
4                Age_Null_Flag    0.010152
28          Name_Title_Master.    0.008787
15                  Embarked_C    0.008034
18              Cabin_Letter_C    0.005740
16                  Embarked_Q    0.005404
19              Cabin_Letter_E    0.004870
6   Cabin_num_(28.667, 65.667]    0.004797
7      Cabin_num_(65.667, 148]    0.004053
23              Cabin_Letter_B    0.003877
21              Cabin_Letter_D    0.002492
29             Name_Title_Rev.    0.002388
22              Cabin_Letter_A    0.001542
30              Name_Title_Dr.    0.001195
20              Cabin_Letter_G    0.001096
24              Cabin_Letter_F    0.000847
32             Name_Title_Col.    0.000261
31              Name_Title_Ms.    0.000006

In [169]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test64.csv'), sep=",", index = False)

score:  0.76

## RF 64

In [170]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))

In [171]:
vowels = ['a', 'e', 'i', 'o', 'u']
import string
cons = list(string.ascii_lowercase)
for i in vowels:
    cons.remove(i)

In [172]:
for i in [train, test]:
    i['Vowels'] = i['Name'].apply(lambda x: sum([vowels.count(i) for i in x.split(',')[0].lower()]))
    i['Consonants'] = i['Name'].apply(lambda x: sum([cons.count(i) for i in x.split(',')[0].lower()]))
    i['Vowel_Ratio'] = i['Vowels']/i['Consonants']
    del i['Vowels']
    del i['Consonants']

In [173]:
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [174]:
len(train.columns)

38

In [177]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [178]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [179]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8294

In [180]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
1                         Fare    0.115247
13                  Sex_female    0.100511
25              Name_Title_Mr.    0.097403
3                     Name_Len    0.090108
0                          Age    0.083668
12                    Sex_male    0.082144
2                  Vowel_Ratio    0.063733
8                   Ticket_Len    0.048427
9                     Pclass_3    0.045988
17              Cabin_Letter_n    0.035968
27            Name_Title_Miss.    0.029713
35                Fam_Size_Big    0.025725
10                    Pclass_1    0.023368
33            Fam_Size_Nuclear    0.018851
26             Name_Title_Mrs.    0.016382
11                    Pclass_2    0.016057
28          Name_Title_Master.    0.013906
14                  Embarked_S    0.012435
4                Age_Null_Flag    0.011251
34               Fam_Size_Solo    0.010329
16                  Embarked_Q    0.010112
15                  Embarked_C    0.009872
5        Cabin_num_[2, 28.667]    0.007997
7      Cabin_num_(65.667, 148]    0.004768
23              Cabin_Letter_B    0.004417
18              Cabin_Letter_C    0.004279
19              Cabin_Letter_E    0.003422
29             Name_Title_Rev.    0.003089
6   Cabin_num_(28.667, 65.667]    0.003053
21              Cabin_Letter_D    0.002612
30              Name_Title_Dr.    0.001716
22              Cabin_Letter_A    0.001475
24              Cabin_Letter_F    0.001292
20              Cabin_Letter_G    0.000484
31              Name_Title_Ms.    0.000157
32             Name_Title_Col.    0.000039

In [181]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test65.csv'), sep=",", index = False)

score:  0.78

## logit 1

In [182]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [183]:
len(train.columns)

37

In [187]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

param_range = [0.01, 0.1, 1.0, 10.0, 100.0]

param_grid = [{'C': param_range}]

gs = GridSearchCV(estimator=LogisticRegression(random_state=0),
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

GridSearchCV(cv=3, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid=[{'C': [0.01, 0.1, 1.0, 10.0, 100.0]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='accuracy', verbose=0)

In [188]:
print(gs.best_score_)
print(gs.best_params_)

0.829405162738
{'C': 1.0}

In [189]:
log = LogisticRegression()
log.fit(train.iloc[:, 2:], train.iloc[:, 1])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [190]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = log.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test_log1.csv'), sep=",", index = False)

score:  0.80383

In [191]:
predictions['Survived'].mean()

0.41148325358851673

## RF 65

In [200]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.titles_grouped(train, test)
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [201]:
len(train.columns)

35

In [202]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [203]:
print(gs.best_score_)
print(gs.best_params_)

0.830527497194
{'min_samples_split': 12, 'n_estimators': 50, 'criterion': 'gini', 'min_samples_leaf': 1}

In [204]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=50,
                             min_samples_split=12,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8328

In [205]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
12                  Sex_female    0.124569
11                    Sex_male    0.121315
24              Name_Title_Mr.    0.109422
1                         Fare    0.109218
2                     Name_Len    0.093007
0                          Age    0.075889
8                     Pclass_3    0.044035
32                Fam_Size_Big    0.039709
7                   Ticket_Len    0.039670
16              Cabin_Letter_n    0.025300
30            Fam_Size_Nuclear    0.023981
26            Name_Title_Miss.    0.023039
27          Name_Title_Master.    0.020994
9                     Pclass_1    0.020106
25             Name_Title_Mrs.    0.019425
10                    Pclass_2    0.017071
4        Cabin_num_[2, 28.667]    0.011394
13                  Embarked_S    0.009420
18              Cabin_Letter_E    0.009337
31               Fam_Size_Solo    0.008436
3                Age_Null_Flag    0.008319
15                  Embarked_Q    0.007245
5   Cabin_num_(28.667, 65.667]    0.007105
14                  Embarked_C    0.006697
28            Name_Title_other    0.004403
22              Cabin_Letter_B    0.004378
17              Cabin_Letter_C    0.003977
20              Cabin_Letter_D    0.003750
6      Cabin_num_(65.667, 148]    0.003114
21              Cabin_Letter_A    0.002386
19              Cabin_Letter_G    0.001208
23              Cabin_Letter_F    0.001048
29              Name_Title_Dr.    0.001032

In [206]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])

In [197]:
scores = rf.predict_proba(test.iloc[:,1:])[:, 0]

In [207]:

predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test65.csv'), sep=",", index = False)

score:  NOPE

## RF 66

In [240]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [225]:
len(train.columns)

36

In [243]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1],
             "min_samples_split" : [16, 18, 20],
             "n_estimators": [40, 50, 60]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [244]:
print(gs.best_score_)
print(gs.best_params_)

0.832772166105
{'min_samples_split': 16, 'n_estimators': 40, 'criterion': 'gini', 'min_samples_leaf': 1}

In [245]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=40,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8204

In [227]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
11                    Sex_male    0.146621
12                  Sex_female    0.120459
1                         Fare    0.112045
0                          Age    0.106245
2                     Name_Len    0.100961
7                   Ticket_Len    0.049314
8                     Pclass_3    0.046820
24             Name_Title_Mrs.    0.035805
25            Name_Title_Miss.    0.033666
9                     Pclass_1    0.033326
33                Fam_Size_Big    0.025948
16              Cabin_Letter_n    0.024097
31            Fam_Size_Nuclear    0.021715
26          Name_Title_Master.    0.020452
10                    Pclass_2    0.018409
13                  Embarked_S    0.012740
32               Fam_Size_Solo    0.012155
4        Cabin_num_[2, 28.667]    0.010910
15                  Embarked_Q    0.009838
3                Age_Null_Flag    0.009347
5   Cabin_num_(28.667, 65.667]    0.008101
14                  Embarked_C    0.007708
18              Cabin_Letter_E    0.007208
22              Cabin_Letter_B    0.005003
6      Cabin_num_(65.667, 148]    0.004796
17              Cabin_Letter_C    0.004542
20              Cabin_Letter_D    0.003647
21              Cabin_Letter_A    0.002963
28              Name_Title_Dr.    0.001609
27             Name_Title_Rev.    0.001352
19              Cabin_Letter_G    0.000899
23              Cabin_Letter_F    0.000873
30             Name_Title_Col.    0.000280
29              Name_Title_Ms.    0.000145

In [246]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test67.csv'), sep=",", index = False)

score:  0.80383

In [247]:
ys = []
for i in os.listdir('submission_files'):
    ys.append(i)

In [249]:
for i in ys:
    if len(i)<12:
        ys.remove(i)

In [253]:
ys = ys[28:]

In [264]:
y_test = test.iloc[:,0]

In [265]:
for i in ys:
    y_test = pd.concat((y_test, pd.read_csv(os.path.join('submission_files', i), usecols=[1])), axis=1)

In [266]:
y_test

,PassengerId,Survived,Survived,Survived,Survived,Survived,Survived,Survived,Survived,Survived,...,Survived,Survived,Survived,Survived,Survived,Survived,Survived,Survived,Survived,Survived
0,892,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,893,1,1,1,1,0,0,1,0,0,...,1,1,0,0,0,0,0,1,1,0
2,894,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,895,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,896,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,897,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,898,1,1,1,1,0,0,1,0,0,...,1,1,0,0,1,1,1,1,0,1
7,899,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,900,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
9,901,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,902,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,903,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,904,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
13,905,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,906,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
15,907,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
16,908,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,909,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,910,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,911,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20,912,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,913,1,1,1,1,1,1,1,1,1,...,1,1,0,0,1,1,1,1,1,1
22,914,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
23,915,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,916,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
25,917,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,918,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
27,919,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,920,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,921,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
389,1281,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
390,1282,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
391,1283,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
392,1284,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
393,1285,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
394,1286,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
395,1287,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
396,1288,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
397,1289,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
398,1290,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
399,1291,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
400,1292,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
401,1293,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
402,1294,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
403,1295,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
404,1296,1,1,1,1,0,1,1,1,1,...,1,1,0,0,1,0,1,1,1,0
405,1297,0,0,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,1
406,1298,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
407,1299,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
408,1300,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
409,1301,0,1,0,0,1,1,0,1,1,...,0,1,1,1,1,1,1,1,0,1
410,1302,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
411,1303,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
412,1304,1,1,0,1,1,0,0,0,0,...,1,1,0,0,1,0,0,0,0,1
413,1305,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
414,1306,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
415,1307,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
416,1308,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
417,1309,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [279]:
y_test33 = pd.concat((test.iloc[:, 0], y_test.iloc[:, 1:].mode(axis=1)[0]), axis=1)

In [280]:
y_test33[0] = y_test33[0].apply(lambda x: int(x))

In [281]:
y_test33 = y_test33.rename(index=str, columns={0: "Survived"})

In [282]:
y_test33.to_csv(os.path.join('submission_files', 'y_test68.csv'), sep=",", index = False)

In [283]:
y_test33

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

score: .794

## RF 69

In [2]:
train = pd.read_csv(os.path.join('data', 'train.csv'))
test = pd.read_csv(os.path.join('data', 'test.csv'))
train, test = feature_process_helper.names(train, test)
train, test = feature_process_helper.age_impute(train, test)
train, test = feature_process_helper.cabin_num(train, test)
train, test = feature_process_helper.cabin(train, test)
train, test = feature_process_helper.embarked_impute(train, test)
train, test = feature_process_helper.fam_size(train, test)
train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
for i in [train, test]:
    i['Ticket_Num'] = i['Ticket'].apply(lambda x: x.split()[-1])
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: x if x[-1] in ['0','1','2','3','4','5','6','7','8','9'] else 0)
    i['Ticket_Num'] = i['Ticket_Num'].apply(lambda x: int(x))
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = feature_process_helper.lda(train, test, train.iloc[:, 1], cols=['Ticket_Num', 'Fare', 'Age'])
train, test = feature_process_helper.dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = feature_process_helper.drop(train, test, bye = ['Ticket'])

In [3]:
len(train.columns)

36

In [4]:
rf = RandomForestClassifier(max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

param_grid = { "criterion"   : ["gini", "entropy"],
             "min_samples_leaf" : [1,5,10],
             "min_samples_split" : [2, 4, 10, 12, 16],
             "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=3,
                  n_jobs=-1)

gs = gs.fit(train.iloc[:, 2:], train.iloc[:, 1])

In [154]:
print(gs.best_score_)
print(gs.best_params_)

0.83164983165
{'min_samples_split': 16, 'n_estimators': 50, 'criterion': 'entropy', 'min_samples_leaf': 1}

In [155]:
rf = RandomForestClassifier(criterion='entropy', 
                             n_estimators=50,
                             min_samples_split=16,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 2:], train.iloc[:, 1])
print "%.4f" % rf.oob_score_

0.8215

In [156]:
pd.concat((pd.DataFrame(train.iloc[:, 2:].columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
11                    Sex_male    0.121257
24              Name_Title_Mr.    0.115977
1                         Fare    0.098159
0                          Age    0.087345
2                     Name_Len    0.086230
12                  Sex_female    0.077304
8                     Pclass_3    0.048533
7                   Ticket_Len    0.046897
25             Name_Title_Mrs.    0.037040
9                     Pclass_1    0.030009
34                Fam_Size_Big    0.029263
26            Name_Title_Miss.    0.028580
16              Cabin_Letter_n    0.027821
32            Fam_Size_Nuclear    0.025309
10                    Pclass_2    0.017178
33               Fam_Size_Solo    0.015327
27          Name_Title_Master.    0.015309
13                  Embarked_S    0.013432
14                  Embarked_C    0.012175
3                Age_Null_Flag    0.010484
4        Cabin_num_[2, 28.667]    0.008868
15                  Embarked_Q    0.006705
6      Cabin_num_(65.667, 148]    0.005887
5   Cabin_num_(28.667, 65.667]    0.005462
18              Cabin_Letter_E    0.005271
17              Cabin_Letter_C    0.005173
20              Cabin_Letter_D    0.004223
22              Cabin_Letter_B    0.003799
28             Name_Title_Rev.    0.003520
29              Name_Title_Dr.    0.002783
23              Cabin_Letter_F    0.001617
21              Cabin_Letter_A    0.001612
19              Cabin_Letter_G    0.001119
31             Name_Title_Col.    0.000184
30              Name_Title_Ms.    0.000147

In [157]:
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
predictions = rf.predict(test.iloc[:, 1:])
predictions = pd.DataFrame(predictions, columns=['Survived'])
predictions = pd.concat((test.iloc[:, 0], predictions), axis = 1)
predictions.to_csv(os.path.join('submission_files', 'y_test50.csv'), sep=",", index = False)

score:  0.80383